.playlist {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 45%;
    max-height: 950px;
    overflow-y: scroll;
    background-color: rgba(21, 19, 19, 0.8);
    box-shadow: 0 4px 2px 2px #000000;
    padding: 2rem 1rem;
    border-radius: 10px;
    padding-top: 1rem;
}

.playlist input {
    width: 100%;
    border: 0;
    outline: 0; /* Remove outline when input is clicked */
    background: transparent; /* Make the background for the input field transparent */
    color: white;
    font-size: 2rem;
    font-weight: bold;
    font-family: 'Lato';
    border-bottom: 1px solid #6F6F6F;
}

.playlist-save {
    cursor: pointer;
    width: 10rem;
    padding: .77rem 0;
    border-radius: 32px;
    margin-top: 1.3rem;
    background-color: #212121;
    color: white;
    font-weight: bold;
    font-size: .9rem;
    font-family: 'Lato';
    text-align: center;
    transition: background-color .25s; /* Change button colour when hovered on */
}

.playlist-save:hover {
    background-color: rgba(29, 185, 84, .6); 
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}