html {
    font-size: 16px;
    color: white;
    font-family: 'Lato', sans-serif;
    
  }

.Login {
    background-image: url('./jammming_background.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 0 8% 10% 8%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 900px;
  }

.Login h2 {
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-size: 1.88rem;
    font-weight: bold;
  }

.Login input {
    width: 18rem;
    border: 1px solid 'black';
    border-radius: .75rem;
    padding: .8rem 0;
    text-align: center;
    font-size: 1rem;
    margin-bottom: 1rem;
}

.Login input:focus { /* Removes blue outline when focused on the input field*/
    outline: none;
}

.Login button {
    cursor: pointer;
    width: 8rem;
    padding: .77rem 0;
    border-radius: 32px;
    background-color: #212121;
    color: #FFFFFF;
    text-align: center;
    font-size: .8rem;
    font-weight: 500;
    transition: background-color .25s; /* Change search button colour when hovered over*/
}

.Login button:hover {
    background-color: rgba(29, 185, 84, .6);
}
